.AboutContainer{
    display: flex;
    
}

.vision{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

@media(max-width:768px) {
    .AboutContainer{
        flex-direction: column;
        
    }
}